.reset{
    background-color: #ffffff;
    width: 65%;
    scale: .85;
    height: 700px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    border: 1px solid #156ac0;
    }
.TextField {
    width: 450px;
    border: 1px solid #1976D2 !important;
    border-radius: 40px !important;
    
}
.logoName{
    font-size: 26px;
}
.asideL {
    width: 60%;
}
.asideR {
    color: white;
    background-color: #156ac0;
    width: 40%;
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.resetbtn{
    width: 200px;
    border-radius: 20px !important;
}
