.btn{
    background-color: gray !important;
    padding: 10px 15px  !important;
}
.Cancel{
    background-color: gray !important;
   
}
.Title{
    margin-left: 165px;
}
.TextField{
    border: 1px solid #1976D2 !important;
    border-radius: 40px;
    width: 470px;
    
}
.input{
margin-bottom: 29px;
margin-top: 29px;
}